<h2>Lista de productos</h2>
{{#if prod}}

{{#each prod}}
<h4>Nombre del Producto : {{title}}</h4>
<h4>Detalle : {{description}}</h4>
<h4>Precio : $ {{price}}</h4>
<h4>Thumbnail : {{thumbnail}}</h4>
<h4>Codigo : {{code}}</h4>
<h4>Stock : {{stock}}</h4>
<h4>Categoria : {{category}}</h4>
<h4>Id : {{id}}</h4>
<hr>

{{/each}}
{{else}}

<p>productos no encontrados</p>

{{/if}}